<!DOCTYPE html>
<html lang="zh" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<div layout:fragment="content">
    <form th:action="@{/user/create}" method="post">

        <div class="form-group">
            <label for="username">用户名</label>
            <input class="form-control" id="username" name="username" placeholder="请输入用户名"/>
            <label for="email">邮箱</label>
            <input class="form-control" id="email" name="email" placeholder="请输入邮箱"/>
            <label for="password">密码</label>
            <input class="form-control" id="password" name="password" placeholder="请输入密码"/>
            <label for="ConfirmPassword">确认密码</label>
            <input class="form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="请输入确认密码"/>
        </div>

        <button type="submit" class="btn btn-primary" style="width:80px;">注册</button>
    </form>
</div>

<div layout:fragment="customScript">
</div>
</body>
</html>